<section class="discover section" id="discover">
    <h2 class="section__title">Elige lo mas <br> atractivo para ti</h2>

    <div class="discover__container container swiper-container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let category of categories">
                <div class="slide">
                    <a [routerLink]="['/discover/sites/', category.id]">
                        <img src="{{ category.image }}" alt="{{ category.name }}">
                        <div
                            style="width: auto; margin: 0 auto; display: flex; align-items: center; justify-content: center; margin-top: 30px;">
                            <h1>{{ category.name }}</h1>
                        </div>
                    </a>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>