<footer class="footer section">
    <div class="footer__container container grid">
        <div class="footer__content grid">
            <div class="footer__data">
                <h3 class="footer__title">Free-Tourims</h3>
                <p class="footer__description">
                    El mejor lugar en donde puedes<br> elegir el destino adecuado para <br> disfrutar tus vacaciones.
                </p>
            </div>



            <div class="footer__data">
                <h3 class="footer__subtitle">Desarrolladores</h3>
                <ul>
                    <li class="footer__item">
                        <a href="https://github.com/BrayanGarzon" class="footer__link" target="_blank">Team <span
                                class="span" style="font-family: cursive;">Code-Fenix</span></a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Plan y Pricing</a>
                    </li>

                </ul>
                <div class="footer-social-developers">
                    <a href="https://github.com/BrayanGarzon" target="_blank" class="footer__social">
                        <i class="ri-github-fill"></i>
                    </a>
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social">
                        <i class="ri-facebook-circle-fill"></i>
                    </a>

                    <a href="https://www.youtube.com/" target="_blank" class="footer__social">
                        <i class="ri-mail-add-fill"></i>
                    </a>
                </div>
            </div>

            <div class="footer__data">
                <h3 class="footer__subtitle">Soporte</h3>
                <ul>
                    <li class="footer__item">
                        <a href="" class="footer__link">FAQs</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Centro de soporte</a>
                    </li>
                    <li class="footer__item">
                        <a [routerLink]="['/contact']" class="footer__link">Contactanos</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__rights">
            <p class="footer__copy">&#169; 2021 <span class="span">Bedimcode</span> And 2023 <span
                    class="span">Code-Fenix.</span> All rigths reserved.</p>
            <div class="footer__terms">
                <a href="#" class="footer__terms-link">Terms & Agreements</a>
                <a href="#" class="footer__terms-link">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>