<section class="about section" id="about">
    <div class="about__container container grid">
        <div class="about__data">
            <h2 class="section__title about__title">Mas Información <br> Sobre el departamento del meta</h2>
            <p class="about__description">Es un departamento de economía ganadera, agrícola y minera, cuya cultura local
                gira en torno a la hacienda y la vaquería. Entre los principales eventos, ferias y fiestas se destacan
                El
                Torneo Internacional del Joropo las Cuadrillas de San Martín y el Mundial del Coleo. El departamento ha
                sido
                por tradición un receptor de inmigrantes de otras regiones del país, factor que ha enriquecido su
                identidad
                cultural.
            </p>
            <a href="https://es.wikipedia.org/wiki/Meta_(Colombia)" class="button" target="_blank">Seguir leyendo</a>
        </div>

        <div class="about__img">
            <div class="about__img-overlay">
                <img src="assets/img/About1.png" alt="" class="about__img-one">
            </div>

            <div class="about__img-overlay">
                <img src="assets/img/About2.png" alt="" class="about__img-two">
            </div>
        </div>
    </div>
</section>